@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    --cor-fundo-desconto: #1cd1b0;
    --cor-fundo-destaque:#00669f;
    --cor-fundo-menu: #001d2d;
    --cor-fundo-card: #f3f3f3;
    --cor-fonte-clara: #f3f3f3;
    --cor-fonte-escura:#000000;
    --cor-fonte-titulo: #333333;
    --cor-fundo-botao-azul: #1CD1B0;
    --cor-fundo-botao-cinza: #888888;
    --cor-link-destaque:#00669f;
    --cor-texto-acesso: #222222;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: var(--cor-fonte-clara);
}

header h2 {
    background-color: var(--cor-fundo-desconto);
    width: 100%;
    height: 38px;
    font-size: 1.5rem;
    padding: 10px;
    position: fixed;
    z-index: 1;
    color: var(--cor-fonte-escura);
}

.herois {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: var( --cor-fundo-destaque);
    width: 100%;
    height: 120px;
    padding: 48px 10px 10px 10px;
}

.herois img {
    height: 60px;
}

.herois h1 {
    font-size: 4rem;
}

main {
    width: 100%;
    height: 900px;
}

.formulario {
    width: 50.0rem;
    padding-top: 126px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.formulario h1 {
    font-size: 7.2rem;
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: var(--cor-fonte-titulo);
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario input {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 2rem;
    font-family: Karia, Arial, Helvetica, sans-serif;
    outline: none;
}

.formulario select {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 2rem;
    font-family: Karia, Arial, Helvetica, sans-serif;
    outline: none;
}

.formulario select:invalid {
    color: gray;
}

.botoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 45%;
    height: 53.79px;
    border: none;
    font-family: Karia, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    border-radius: 50px;
    margin-bottom: 20.21px;
}

.limpar {
    background-color: var(--cor-fundo-botao-cinza);
    color: var(--cor-fonte-clara);
}

.registar {
    background-color: var(--cor-fundo-botao-azul);
    color: var(--cor-fonte-escura);
}

.formulario a {
    color: var(--cor-link-destaque);
    font-family: Karia, Arial, Helvetica, sans-serif;
}

.formulario p {
    font-size: 2.1rem;
    text-align: center;
    font-family: Karia, Arial, Helvetica, sans-serif;
    color: var(--cor-texto-acesso);
}

footer {
    background-color: var(--cor-fundo-destaque);
    width: 100%;
    height: 51px;
    color: var(--cor-fonte-clara);
    padding: 16px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 110px;
}

footer ul {
    font-size: 1.3rem;
    text-align: center;
    list-style-type: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: var(--cor-fonte-clara);
}

.github img {
    width: 120px;
}

@media (max-width: 1280px) {
    html {
        font-size: 8px;
    }
    .sobrecard {
        width: 40%;
    }
    .card__adicionar {
        left: 90%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 7px;
    }
    .sobrecard {
        width: 90%;
    }
    .card__adicionar {
        left: 80%;
    }
    .github img {
        width: 90px;
    }
}